* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 1200px;
    background-color: white;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

header {
    width: 1200px;
    height: 100px;
}

nav.menu .navi {
    margin-top: 64px;
    float: right;
}

.main_img {
    float: left;

}

.top {
    display: inline-block;
    width: 1200px;
    height: 100px;
}

.logo {
    margin-bottom: 30px;
    float: left;
    height: 90px;
    width: 250px;
}

.logo h1 {
    float: left;
    width: 250px;
    height: 80px;
    margin-top: 35px;
    margin-left: 20px;
}

.menu {
    float: right;
    width: 800px;
    height: 100px;
    z-index: 1;
}
.navi> li ul.subMenu {display: none;}
.navi> li:hover ul.subMenu {display: block;}
.navi {
    float: right;
    position: relative;
}

.navi>li {
    float: left;
}

.navi>li>a {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: coral;
    color: white;
}

.navi>li>a:hover {
    background-color: crimson;
    color: yellow;
}

.subMenu {
    width: 180px;
    position: absolute;
    display: none;
    z-index: 1;
}

.subMenu>li>a {
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    background-color: coral;
    color: white;
    text-decoration: none;
}

.subMenu>li>a:hover, .subMenu li:hover a {
    background-color: crimson;
    color: yellow;
    text-decoration: none;
}
.subMenu li ul {
    background-color: crimson;
    display: none;
    height: auto;
    border: 0px;
    position: absolute;
}

.tabmenu {
    margin-right: 16px;
    width: 380px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.tabmenu>li {
    float: left;
    width: 100px;
    line-height: 30px;
}

.tabmenu>li>a {
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.tabmenu>li>a:hover {
    background-color: aquamarine;
}

.tabmenu>li.active div {
    background-color: white;
    width: 380px;
    height: 160px;
    border-top: 1px solid #dddddd;
    z-index: 1;
}

.active a {
    margin-left: 10px;
}
section {
    display: inline-block;
    width: 1200px;
    height: 200px;
    position:relative;
}
.notice {
    margin-left: 10px;
    border: 1px solid #cccccc;
}
.notice ul {
    float: left;
    width: 380px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.notice li {
    height: 32px;
}

.notice li:nth-child(2n) {
    background-color: #cccccc;
}

.notice li span {
    float: right;
    padding-right: 7px;
}

.gallery {
    margin-left: 10px;
    border: 1px solid #cccccc;
    float: left;
}

.gallery ul {
    width: 350px;
    margin-top: 12px;
    margin-bottom: 12px;
    float: left;
}

.gallery li {
    margin: 0px auto;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
}

.gallery img {
    margin-left: 16px;
    width: 95px;
    height: 120px;
}

.gallery li:hover {
    opacity: 0.5;
}


.banner {
    margin-top: 4px;
    top: 10px;
    float: left;
    border: 1px solid #cccccc;
    margin-left: 10px;

}

.banner img {
    float: left;
    width: 380px;
    height: 190px;
}

.bntext {
    float: right;
    width: 200px;
    height: 40px;
    text-align: center;
    color: black;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 80px;
    left: 900px;
}

footer {
    margin-top: 20px;
    clear: both;
    width: 1200px;
    height: 100px;
    background-color: rgb(200, 191, 231);
}

.bottom_logo {
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 20px;
}

.bottom_logo img {
    
    width: 180px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.copyright {
    float: left;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
}

.sns {
    float: right;
    width: 200px;
    height: 100px;
}

.sns ul {
    margin-right: 20px;
    margin-top: 25px;
}

.sns ul li {
    display: inline-block;
}

.sns img {
    width: 45px;
    height: 45px;
    padding: 5px;
}

.sns img:hover {
    opacity: 0.5;
}