body {
    font-family: '맑은 고딕';
}

nav {
    text-align: center;
    margin-bottom: 10px;
}

#container {
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

a:hover {
    background-color: pink;
    color: black;
}

div ul {
    background-color: black;
    padding: 15px;
    text-align: left;
    margin: 0;

}

div li {
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
}

div.login {
    display: inline;
    float: right;
}

aside {
    width: 200px;
    height: 700px;
    text-align: center;
    background-color: rgb(221, 220, 220);
}

#left {
    float: left;
}

section {
    width: 600px;
    height: 700px;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

form {
    width: 500px;
    background-color: #ccc;
    margin: auto;
    padding: 10px;
}

form li {
    list-style: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    padding: 5px 0px;
    margin-bottom: 5px;
}

label {
    width: 130px;
    text-align: center;
}

input {
    width: 250px;
    padding: 3px;
    float: right;
    margin-right: 20px;
}

legend {
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

fieldset {
    padding: 0 10px;
    border: none;
}
fieldset ul {
    padding: 18px;
}
button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    padding: 5px 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

#right {
    float: right;
}

footer {
    clear: both;
    text-align: center;
    background-color: rgb(143, 143, 143);
    padding: 10px;
    position: relative;
    transform: translateY(-20%);
}